# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete.school_name.unique().size
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete.student_name.count()
student_count

39170

In [4]:
# Calculate the total budget
school_budget = school_data_complete.budget.unique()
total_budget = school_budget.sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
#passing_math_reading_count = #school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = (passing_math_percentage + passing_reading_percentage) / 2
overall_passing_rate

80.39315802910392

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": school_count,
                    "Total Students": student_count,
                    "Total Budget": total_budget,
                    "Average Math Score": average_math_score,
                    "Average Reading Score": average_reading_score,
                    "% Passing Math": passing_math_percentage,
                    "% Passing Reading": passing_reading_percentage,
                    "% Overall Passing Rate": [overall_passing_rate]})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.0f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.0f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.0f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.0f}%".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:,.0f}%".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",79,82,75%,86%,80%

## School Summary

In [11]:
# Use the code provided to select the school type
schools_grouped = school_data_complete.groupby(['school_name'])
school_types = schools_grouped['type'].first()

In [12]:
# Calculate the total student count
total_std = schools_grouped['student_name'].count()

In [13]:
# Calculate the total school budget and per capita spending
school_budget = schools_grouped['budget'].first()
per_std_bg = school_budget / total_std

In [14]:
# Calculate the average test scores
avg_math_school = schools_grouped['math_score'].mean()
avg_reading_school = schools_grouped['reading_score'].mean()

In [15]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
math_pass_group = school_passing_math.groupby(['school_name'])
percent_pass_math = math_pass_group['math_score'].count() / total_std *100

In [16]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
reading_pass_group = school_passing_reading.groupby(['school_name'])
percent_pass_reading = reading_pass_group['reading_score'].count() / total_std *100

In [17]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"]
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"]

In [19]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]
overall_pass_group = per_school_summary.groupby(['school_name'])
percent_pass_overall = overall_pass_group['student_name'].count() / total_std *100

# Formatting
schools_summary_dict = {
    'School Type': school_types,
    'Total Students' : total_std,
    'Total School Budget': school_budget,
    'Per Student Budget': per_std_bg,
    'Average Math Score': avg_math_school,
    'Average Reading Score': avg_reading_school,
    '% Passing Math': percent_pass_math,
    '% Passing Reading': percent_pass_reading,
    '% Overall Passing': percent_pass_overall}

#create a dataframe to hold the dictionary
per_school_summary_df = pd.DataFrame(schools_summary_dict)

#clean up the data formatting
per_school_summary_df = per_school_summary_df.copy()
per_school_summary_df.index.name = 'School Name'
per_school_summary_df['Total School Budget'] = per_school_summary_df['Total School Budget'].map('${:,}'.format)
per_school_summary_df['Per Student Budget'] = per_school_summary_df['Per Student Budget'].map('${:,.2f}'.format)
per_school_summary_df['Average Math Score'] = per_school_summary_df['Average Math Score'].map('{:,.0f}'.format)
per_school_summary_df['Average Reading Score'] = per_school_summary_df['Average Reading Score'].map('{:,.0f}'.format)
per_school_summary_df['% Passing Math'] = per_school_summary_df['% Passing Math'].map('{:,.0f}%'.format)
per_school_summary_df['% Passing Reading'] = per_school_summary_df['% Passing Reading'].map('{:,.0f}%'.format)
per_school_summary_df['% Overall Passing'] = per_school_summary_df['% Overall Passing'].map('{:,.0f}%'.format)

# Display the DataFrame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928",$628.00,77,81,67%,82%,55%
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83,84,94%,97%,91%
Figueroa High School,District,2949,"$1,884,411",$639.00,77,81,66%,81%,53%
Ford High School,District,2739,"$1,763,916",$644.00,77,81,68%,79%,54%
Griffin High School,Charter,1468,"$917,500",$625.00,83,84,93%,97%,91%
Hernandez High School,District,4635,"$3,022,020",$652.00,77,81,67%,81%,54%
Holden High School,Charter,427,"$248,087",$581.00,84,84,93%,96%,89%
Huang High School,District,2917,"$1,910,635",$655.00,77,81,66%,81%,54%
Johnson High School,District,4761,"$3,094,650",$650.00,77,81,66%,81%,54%
Pena High School,Charter,962,"$585,858",$609.00,84,84,95%,96%,91%
Rodriguez High School,District,3999,"$2,547,363",$637.00,77,81,66%,80%,53%
Shelton High School,Charter,1761,"$1,056,600",$600.00,83,84,94%,96%,90%
Thomas High School,Charter,1635,"$1,043,130",$638.00,83,84,93%,97%,91%
Wilson High School,Charter,2283,"$1,319,574",$578.00,83,84,94%,97%,91%
Wright High School,Charter,1800,"$1,049,400",$583.00,84,84,93%,97%,90%

## Highest-Performing Schools (by % Overall Passing)

In [20]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_performing_schools_df = per_school_summary_df.sort_values("% Overall Passing", ascending=False)
top_performing_schools_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83,84,94%,97%,91%
Griffin High School,Charter,1468,"$917,500",$625.00,83,84,93%,97%,91%
Pena High School,Charter,962,"$585,858",$609.00,84,84,95%,96%,91%
Thomas High School,Charter,1635,"$1,043,130",$638.00,83,84,93%,97%,91%
Wilson High School,Charter,2283,"$1,319,574",$578.00,83,84,94%,97%,91%

## Bottom Performing Schools (By % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_performing_schools_df = per_school_summary_df.sort_values("% Overall Passing")
bottom_performing_schools_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Figueroa High School,District,2949,"$1,884,411",$639.00,77,81,66%,81%,53%
Rodriguez High School,District,3999,"$2,547,363",$637.00,77,81,66%,80%,53%
Ford High School,District,2739,"$1,763,916",$644.00,77,81,68%,79%,54%
Hernandez High School,District,4635,"$3,022,020",$652.00,77,81,67%,81%,54%
Huang High School,District,2917,"$1,910,635",$655.00,77,81,66%,81%,54%

## Math Scores by Grade

In [22]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(['school_name'])
tenth_graders_scores = tenth_graders.groupby(['school_name'])
eleventh_graders_scores = eleventh_graders.groupby(['school_name'])
twelfth_graders_scores = twelfth_graders.groupby(['school_name'])

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"].mean()
tenth_grader_math_scores = tenth_graders_scores["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders_scores["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders_scores["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_grade_dict = {
    'Ninth Graders': ninth_grade_math_scores,
    'Tenth Graders': tenth_grader_math_scores,
    'Eleventh Graders': eleventh_grader_math_scores,
    'Twelfth Graders': twelfth_grader_math_scores
    }

math_scores_by_grade = pd.DataFrame(math_grade_dict)

math_scores_by_grade['Ninth Graders'] = math_scores_by_grade['Ninth Graders'].map('{:,.0f}'.format)
math_scores_by_grade['Tenth Graders'] = math_scores_by_grade['Tenth Graders'].map('{:,.0f}'.format)
math_scores_by_grade['Eleventh Graders'] = math_scores_by_grade['Eleventh Graders'].map('{:,.0f}'.format)
math_scores_by_grade['Twelfth Graders'] = math_scores_by_grade['Twelfth Graders'].map('{:,.0f}'.format)

# Minor data wrangling
math_scores_by_grade.index.name = "Avg Math Scores"

# Display the DataFrame
math_scores_by_grade

,Ninth Graders,Tenth Graders,Eleventh Graders,Twelfth Graders
Avg Math Scores,,,,
Bailey High School,77,77,78,76
Cabrera High School,83,83,83,83
Figueroa High School,76,77,77,77
Ford High School,77,78,77,76
Griffin High School,82,84,84,83
Hernandez High School,77,77,77,77
Holden High School,84,83,85,83
Huang High School,77,76,76,77
Johnson High School,77,77,77,77
Pena High School,84,83,84,84
Rodriguez High School,77,77,76,78
Shelton High School,83,83,83,84
Thomas High School,84,83,83,83
Wilson High School,83,84,83,83
Wright High School,83,84,84,84

## Reading Score by Grade

In [23]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders_scores["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_grade_dict = {
    'Ninth Graders': ninth_grade_reading_scores,
    'Tenth Graders': tenth_grader_reading_scores,
    'Eleventh Graders': eleventh_grader_reading_scores,
    'Twelfth Graders': twelfth_grader_reading_scores
    }

reading_scores_by_grade = pd.DataFrame(reading_grade_dict)

#formatting for table
reading_scores_by_grade['Ninth Graders'] = reading_scores_by_grade['Ninth Graders'].map('{:,.0f}'.format)
reading_scores_by_grade['Tenth Graders'] = reading_scores_by_grade['Tenth Graders'].map('{:,.0f}'.format)
reading_scores_by_grade['Eleventh Graders'] = reading_scores_by_grade['Eleventh Graders'].map('{:,.0f}'.format)
reading_scores_by_grade['Twelfth Graders'] = reading_scores_by_grade['Twelfth Graders'].map('{:,.0f}'.format)

# Minor data wrangling
reading_scores_by_grade.index.name = "Avg Reading Scores"

# Display the DataFrame
reading_scores_by_grade

,Ninth Graders,Tenth Graders,Eleventh Graders,Twelfth Graders
Avg Reading Scores,,,,
Bailey High School,81,81,81,81
Cabrera High School,84,84,84,84
Figueroa High School,81,81,81,81
Ford High School,81,81,80,81
Griffin High School,83,84,84,84
Hernandez High School,81,81,81,81
Holden High School,84,83,84,85
Huang High School,81,82,81,80
Johnson High School,81,81,81,81
Pena High School,84,84,84,85
Rodriguez High School,81,81,81,80
Shelton High School,84,83,84,83
Thomas High School,84,84,84,84
Wilson High School,84,84,84,84
Wright High School,84,84,84,84

## Scores by School Spending

In [24]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
spending_groups = ["<$585", "$585-630", "$630-645", "$645-680"]

In [25]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary_df.copy()

In [26]:
# Use `pd.cut` to categorize spending based on the bins.
psb = school_spending_df['Per Student Budget'].str.replace("$","").astype(float)
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(psb, 
                                                             spending_bins, 
                                                             labels=spending_groups)
school_spending_grouped = school_spending_df.groupby(['Spending Ranges (Per Student)'])
school_spending_grouped = school_spending_grouped[["Average Math Score", "Average Reading Score", "% Passing Math", 
                               "% Passing Reading", "% Overall Passing"]]
school_spending_grouped.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,
Bailey High School,77,81,67%,82%,55%
Cabrera High School,83,84,94%,97%,91%
Figueroa High School,77,81,66%,81%,53%
Ford High School,77,81,68%,79%,54%
Griffin High School,83,84,93%,97%,91%
Hernandez High School,77,81,67%,81%,54%
Holden High School,84,84,93%,96%,89%
Huang High School,77,81,66%,81%,54%
Johnson High School,77,81,66%,81%,54%
Pena High School,84,84,95%,96%,91%
Rodriguez High School,77,81,66%,80%,53%
Shelton High School,83,84,94%,96%,90%
Thomas High School,83,84,93%,97%,91%
Wilson High School,83,84,94%,97%,91%
Wright High School,84,84,93%,97%,90%

In [27]:
#  Calculate averages for the desired columns.

In [28]:
# Assemble into DataFrame
spend_summary = school_spending_df.groupby("Spending Ranges (Per Student)")
spend_summary = school_spending_df[["Average Math Score", "Average Reading Score", "% Passing Math", 
                               "% Passing Reading", "% Overall Passing"]]
spend_summary.mean()

# Display results
spend_summary.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,
Bailey High School,77,81,67%,82%,55%
Cabrera High School,83,84,94%,97%,91%
Figueroa High School,77,81,66%,81%,53%
Ford High School,77,81,68%,79%,54%
Griffin High School,83,84,93%,97%,91%

## Scores by School Size

In [29]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_range = ['Small', 'Medium', 'Large']

In [30]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=size_range)
size_summary = per_school_summary_df.groupby("School Size")
size_summary = size_summary[["Average Math Score", "Average Reading Score", "% Passing Math", 
                             "% Passing Reading", "% Overall Passing"]]
size_summary.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,
Bailey High School,77,81,67%,82%,55%
Cabrera High School,83,84,94%,97%,91%
Figueroa High School,77,81,66%,81%,53%
Ford High School,77,81,68%,79%,54%
Griffin High School,83,84,93%,97%,91%
Hernandez High School,77,81,67%,81%,54%
Holden High School,84,84,93%,96%,89%
Huang High School,77,81,66%,81%,54%
Pena High School,84,84,95%,96%,91%
Shelton High School,83,84,94%,96%,90%
Thomas High School,83,84,93%,97%,91%
Wright High School,84,84,93%,97%,90%

## Scores by School Type

In [31]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

SyntaxError: invalid syntax (888228207.py, line 2)

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary